@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
  }
  body::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar track */
  }
  body {
    scrollbar-width: 0px;
  }
  body {
    @apply bg-default;
  }
}

@layer utilities {
  .btn {
    padding: 15px 20px;
  }
  .container {
    @apply px-2 sm:px-0;
  }
}

.section-shape {
  clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 11%);
}
